<%- include('../partials/header') %>
<div class="row">
  <div id="users" class="col s12">
    <div class="card black">
      <h1 class="center white-text">Today's Talk</h1>
      <div class="card-content black-text">
        <ul class="collection">
          <% posts.forEach(function(p) { %>
            <li class="collection-item  text-darken-2">
              <span class="title"><%= p.text %></span>
              <form action="/posts/<%= p._id %>?_method=DELETE" method="POST" class="secondary-content">
                <button type="submit" class="black white-text">X</button>
              </form>
              <div>
                <form method="GET" action="/posts/<%= p.id %>/edit">
                  <input type="hidden" name="posts">
                  <button type="submit" class="black white-text" style="font-size: 0.8em">Edit Post</button>
                </form>
                <form action="/posts" method="POST">
                  <input type="hidden" name="comments">
                  <input type="text" name="text" class="black-text">
                  <button class="btn white black-text" type="submit" style="font-size: 0.7em">Comment</button>
                </form>
              </div>
            </li>
            <% }) %>
          </ul>
        <div class="card-action">
          <form action="/posts" method="POST">
            <input type="hidden" name="posts">
            <input type="text" name="text" class="black white-text">
            <button class="btn white black-text" type="submit">Add Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer') %>